<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>

  <appSettings>
    <add key="db_server" value="localhost" />
    <add key="db_port" value="3307" />
    <add key="db_database" value="dbfinger" />
    <add key="db_user" value="root" />
    <add key="db_pass" value="" />
    <add key="db_other" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
<connectionStrings><add name="fingerdbEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-NHO9F96;initial catalog=fingerdb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>